<nav role="navigation" class="primary-navigation">
  <ul>
    <li *ngFor="let pp of PhnomPenh">
      <a [routerLink]="['/category', pp.data.category, pp.id]">{{
        pp.data.category
      }}</a>
    </li>
    <li>
      <a> {{ IdTitle.category }}</a>
      <ul class="dropdown">
        <li *ngFor="let province of Provinces">
          <a (click)="nameClicked(province)"
            [routerLink]="['/category', province.data.category, province.id]"
            >{{ province.data.category }}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
